# The Client ID and Client Secret used for client auth. Replace the values with your actual Google OAuth Client ID and Client Secret
googleDriveClientId=your-client-id.apps.googleusercontent.com
googleDriveClientSecret=your-client-secret

# The Client ID and Client Secret used for server auth. Replace the values with your actual Google OAuth Client ID and Client Secret
googleDriveServerClientId=your-server-client-id.apps.googleusercontent.com
googleDriveServerClientSecret=your-server-client-secret